.travel {
  display: flex;
  justify-content: space-around;
  padding: 10%;
}
.traveldata {
  width: 70%;
  margin-left: 1rem;
  padding: 2%;
}
.image {
  width: 30%;
  height: 300px;
  border-radius: 2rem;
}
.traveldata {
  display: flex;
  flex-direction: column;
}
.tituloviagem {
  font-weight: bolder;
}
.caracteristicas {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  height: 70%;
}
.legendesq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ti {
  display: flex;
  align-items: center;
  margin-top: 1%;
  color: var(--black, #333);
font-family: "Open Sans";
font-size: 15.254px;
font-style: normal;
font-weight: 700;
line-height: 22.034px; /* 144.444% */
}
.column1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 28.814px;
}
.priceFrom{
  color: var(--black, #333);
font-family: "Open Sans";
font-size: 20.339px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.price{
  display: flex;
align-items: center;
gap: 13.559px;
color: var(--black, #333);
font-family: "Open Sans";
font-size: 27.119px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.botoes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16.949px;
}
.buttonBooK{
  display: flex;
  padding: 8.475px 20.339px;
  align-items: flex-start;
  gap: 8.475px;
  border-radius: 42.373px;
border: 0.847px solid var(--Orange, #FA8B02);
color: #FA8B02;
}
/* Estilo básico do botão */
.buttontour {
  display: flex;
  padding: 8.475px 20.339px;
  align-items: flex-start;
  gap: 8.475px;
  border-radius: 42.373px;
background: var(--Orange, #FA8B02);
color: aliceblue;
}

/* Efeito de hover */
.button:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

/* Efeito de foco */
.button:focus {
  outline: none; /* Remove o outline padrão */
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); /* Sombra ao focar */
}

/* Efeito ativo */
.button:active {
  background-color: #3e8e41; /* Cor de fundo ao clicar */
  transform: scale(1); /* Remove o efeito de aumento */
}
